In [ ]:
%matplotlib inline

In [ ]:
!pip install Pillow

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import json
import requests
from PIL import Image
from io import BytesIO

In [9]:
df = pd.read_csv('train.csv')
df.head()

   Unnamed: 0  image_name           x          y       tags
0           0     6111000 -122.410695  37.787044  low_crime
1           1     6260000 -122.413043  37.781968  low_crime
2           2     9173201 -122.438620  37.719681  low_crime
3           3      267001 -122.394508  37.776711  low_crime
4           4     9165000 -122.435091  37.724296  low_crime

In [81]:
import os

In [13]:
def merge_images(image1, image2, image3, image4):
    result = Image.new('RGB', (400, 400))
    result.paste(im=image1, box=(0, 0))
    result.paste(im=image2, box=(200, 0))
    result.paste(im=image3, box=(0, 200))
    result.paste(im=image4, box=(200, 200))
    return result

In [16]:
key = "AIzaSyByVbYYSIflZfib3TXbucZkRrITnjML070"
for i, row in df.iterrows():

    lon=row['x']
    lat=row['y']

    data=requests.get(f"https://maps.googleapis.com/maps/api/streetview?size=200x200&location={lat},{lon}&fov=90&heading=0&pitch=10%20&key={key}")
    file_like = BytesIO(data.content)
    img1 = Image.open(file_like)
    #Heading = 90
    data=requests.get(f"https://maps.googleapis.com/maps/api/streetview?size=200x200&location={lat},{lon}&fov=90&heading=90&pitch=10%20&key={key}")

    file_like = BytesIO(data.content)
    img2 = Image.open(file_like)
    #Heading = 180
    data=requests.get(f"https://maps.googleapis.com/maps/api/streetview?size=200x200&location={lat},{lon}&fov=90&heading=180&pitch=10%20&key={key}")

    file_like = BytesIO(data.content)
    img3 = Image.open(file_like)
    #Heading = 270
    data=requests.get(f"https://maps.googleapis.com/maps/api/streetview?size=200x200&location={lat},{lon}&fov=90&heading=270&pitch=10%20&key={key}")
    file_like = BytesIO(data.content)
    img4 = Image.open(file_like)
    result_img=merge_images(img1,img2,img3,img4)
    
    result_img.save(f"./Images/{row['image_name']}.jpg")
                    
                    
print("Complete")

Complete

In [4]:
df.head(2)

,IncidntNum,Category,Descript,DayOfWeek,Date,Time,PdDistrict,Resolution,Address,X,Y,Location,PdId
0,180267742,FRAUD,"FALSE CLAIMS, PRESENTING TO GOVERNMENT",Monday,05/01/2017,00:01,CENTRAL,NONE,200 Block of POST ST,-122.406022,37.788649,"(37.788649124529414, -122.4060218384839)",18026774209173
1,180190529,OTHER OFFENSES,MISCELLANEOUS INVESTIGATION,Monday,05/01/2017,12:00,CENTRAL,NONE,800 Block of GRANT AV,-122.406460,37.794704,"(37.794704150989254, -122.40646032018432)",18019052968020

In [6]:
df['Category'].nunique(),df['Category'].unique()

(39, array(['FRAUD', 'OTHER OFFENSES', 'LARCENY/THEFT', 'VANDALISM',
        'NON-CRIMINAL', 'SUSPICIOUS OCC', 'ASSAULT', 'TRESPASS',
        'BURGLARY', 'SEX OFFENSES, FORCIBLE', 'WARRANTS', 'DRUG/NARCOTIC',
        'SECONDARY CODES', 'MISSING PERSON', 'VEHICLE THEFT', 'ROBBERY',
        'EMBEZZLEMENT', 'FORGERY/COUNTERFEITING',
        'SEX OFFENSES, NON FORCIBLE', 'DISORDERLY CONDUCT', 'PROSTITUTION',
        'WEAPON LAWS', 'DRUNKENNESS', 'DRIVING UNDER THE INFLUENCE',
        'STOLEN PROPERTY', 'KIDNAPPING', 'ARSON', 'RECOVERED VEHICLE',
        'BAD CHECKS', 'LOITERING', 'FAMILY OFFENSES', 'LIQUOR LAWS',
        'RUNAWAY', 'EXTORTION', 'SUICIDE', 'BRIBERY', 'GAMBLING',
        'PORNOGRAPHY/OBSCENE MAT', 'TREA'], dtype=object))

In [8]:
grp=df.groupby(['Category'],as_index=False).agg({"IncidntNum": "count"})

In [11]:
grp.sort_values(['IncidntNum'],ascending=False)

                       Category  IncidntNum
16                LARCENY/THEFT       45472
21               OTHER OFFENSES       16730
20                 NON-CRIMINAL       16401
1                       ASSAULT       13400
35                    VANDALISM        9128
4                      BURGLARY        5716
32               SUSPICIOUS OCC        5463
36                VEHICLE THEFT        5017
37                     WARRANTS        4816
19               MISSING PERSON        4229
7                 DRUG/NARCOTIC        3404
25                      ROBBERY        3204
13                        FRAUD        2461
27              SECONDARY CODES        1890
38                  WEAPON LAWS        1688
34                     TRESPASS        1456
28       SEX OFFENSES, FORCIBLE         970
30              STOLEN PROPERTY         768
12       FORGERY/COUNTERFEITING         515
24            RECOVERED VEHICLE         479
23                 PROSTITUTION         406
0                         ARSON         317
5            DISORDERLY CONDUCT         315
8                   DRUNKENNESS         298
26                      RUNAWAY         290
6   DRIVING UNDER THE INFLUENCE         267
15                   KIDNAPPING         204
9                  EMBEZZLEMENT         160
31                      SUICIDE          77
17                  LIQUOR LAWS          59
3                       BRIBERY          55
10                    EXTORTION          52
18                    LOITERING          41
11              FAMILY OFFENSES          38
29   SEX OFFENSES, NON FORCIBLE          37
2                    BAD CHECKS          21
14                     GAMBLING          18
22      PORNOGRAPHY/OBSCENE MAT           6
33                         TREA           1

In [ ]:
Image.SHO